*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: system-ui;
}
:root{
    --color1: #E1CA96;
    --color2: #ACA885;
    --color3: #918B76;
    --color4: #626C66;
    --color5: #434A42;
}
body{
    width:100%;
    height: 100vh;
    background-color: var(--color1);
    display:grid;
    grid-template-rows: auto 1fr auto;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
header h1{
    color: var(--color5);
    font-size: 1.4rem;
    user-select: none;
}
header div button{
    border:2px solid var(--color5);
    background-color: transparent;
    padding:5px 10px;
    color: var(--color5);
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: var(--color5);
        color: var(--color1);
    }
}
.cont_filters{
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.button_new{
    border:2px solid var(--color5);
    background-color: transparent;
    padding:5px 10px;
    color: var(--color5);
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: var(--color5);
        color: var(--color1);
    }
}
.select_categoria{
    padding:5px;
    border-radius: 4px;
    border:2px solid var(--color5);
    background-color: transparent;
    color: var(--color5);
    cursor: pointer;
}
.check_stock{
    display:none;
}
.label_stock{
    margin-left: 10px;
    padding:5px 10px;
    border:2px solid var(--color5);
    border-radius: 4px;
    color: var(--color5);
    cursor: pointer;
    user-select: none;
    &:has(.check_stock:checked){
        background-color: var(--color5);
        color: var(--color1);
    }
}