:root{
    --color1: #780000;
    --color2: #c1121f;
    --color3: #fdf0d5;
    --color4: #003049;
    --color5: #669bbc;
    --accept: #00a63e;
    --warning: #f0b100;
    --danger: #fb2c36;
    --primary: #155dfb;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*border: 1px solid red;*/
}

body {
    background-color: var(--color3);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
}

header {
    background-color:var(--color4);
    border-bottom: 1px solid var(--color4);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
header h1 span{
    font-weight: 500;
}
header h1{
    color:var(--color3);
}

header div {
    display: flex;
    gap: 10px;
    margin: 10px 0px 0px 0px;
    align-items: center;
}

header div button {
    border:none;
    background-color: var(--color5);
    color:white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition:0.2s ease;
    &:hover{
        filter:contrast(2);
    }
}

main {
    width: 100%;
    padding: 10px 40px;
    flex: 1;
}

footer {
    width: 100%;
    padding: 10px 40px;
    position: relative;
    background-color: var(--color4);
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,.5);
}
footer h2{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin:10px;
    color:white;
}
.cont_input_search {
    width: 100%;
    margin-bottom: 10px;
}

.input_search {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top:20px;
    font-size: 1.05rem;
    border:2px solid var(--color4);
    &:focus{
        outline: none;
    }
}

.cont_filters div select {
    padding: 5px;
}

.cont_filters div {
    margin: 10px 0px;
}

.cont_table {
    padding: 10px 0px;

    overflow-x: auto;
}

.cont_table table {
    /*Estilos de la tabla*/
    width:100%;
    border:1px solid var(--color4);
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
}
.cont_table table thead{
    background-color: var(--color4);
    color:white;
}
.cont_table table thead tr th{
    padding:10px 0px;
    min-width:150px;
}
.cont_table table tbody tr td{
    padding:10px 0px;
    text-align: center;
}
.cont_table table tbody tr:nth-child(even){
    background-color: var(--color5);
}
.cont_table table tbody tr{
    border-bottom: 1px solid var(--color4);
}
.cont_table table tbody tr td button{
    border: 1px solid var(--color4);
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;

}
.icon_tecnologias{
    width: 30px;
    height: 30px;

}
.cont_icons_tecno{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.btn_nuevo{
    cursor: pointer;
    padding:6px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius: 6px;
    border:none;
    background-color: var(--color4);
    color:white;
    transition: 0.2s ease;
    &:hover{
        background-color: var(--color5);
    }
}
.cont_option select{
    border-radius: 6px;
    border:1px solid var(--color4);
    &:focus{
        border:none;
    }
}
.label_chk{
    border:1px solid var(--color4);
    padding:5px 10px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    margin:0px 4px;
    &:has(.input_chk:checked){
        background-color: var(--color4);
        color:white;
    }
}
.label_chk .input_chk{
    display:none;
}
.cont_chk{
    display: flex;
    flex-wrap: wrap;
}
.estadoconstock{
    font-size: 0.8rem;
    background-color: var(--accept);
    padding:4px 8px;
    border-radius: 10px;
    font-weight: bold;
    color:black;
    user-select: none;
}
.estadopocostock{
    font-size: 0.8rem;
    background-color: var(--warning);
    padding:4px 8px;
    border-radius: 10px;
    font-weight: bold;
    color:black;
    user-select: none;
}
.estadosinstock{
    font-size: 0.8rem;
    background-color: var(--danger);
    padding:4px 8px;
    border-radius: 10px;
    font-weight: bold;
    color:black;
    user-select: none;
}
.btn_add, .btn_less, .btn_edit{
    background-color: var(--color4);
    color:white;
}
.btn_del{
    background-color: var(--danger);
    color:white;
    &:hover{
        background-color: var(--color2);
    }
}
/*Contenedor de historial*/
.cont_historial{
    position:absolute;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display:none;
}
.historial{
    position:absolute;
    top:0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--color3);
    overflow-y: auto;
    animation: open_historial_mobile 0.3s ease-in-out forwards;
}
.header_historial{
    display:flex;
    justify-content: space-between;
    padding:40px;
    align-items: center;
    animation: show_historial 0.3s linear forwards;
}
.header_historial h2{
    font-weight: 400;
}
.btn_closed_historial{
    border:none;
    background-color: var(--color1);
    color:white;
    padding:4px 7px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: var(--color2);
    }
    animation: show_historial 0.3s linear forwards;
}
.cont_historial_res{
    width: 100%;
    padding:0px 40px;
    position: relative;
    animation: show_historial2 0.3s linear forwards;
}
.cont_icon{
    padding:0px 20px 30px 10px;
    top:0px;
    transform:scale(1.4);
}
.cont_his{
    border:1px solid var(--color4);
    border-radius: 6px;
    display:flex;
    justify-content: start;
    align-items: center;
    padding:20px;
    margin:10px 0px;
}
.cont_content_historial{
    width:100%;
}
.cont_title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.cont_title p{
    font-weight: bold;
}
.cont_title span, .detailobs{
    font-weight: 200;
    opacity: 0.6;
}
.detail{
    font-weight: bold;
    margin-bottom: 10px;
}

.titlehisingreso{
    color: var(--accept);
}
.titlehisegreso{
    color: var(--warning);
}
.titlehiscreate{
    color: var(--primary);
}
.titlehisdelete{
    color: var(--danger);
}
.hisingreso{
    border-left: 5px solid var(--accept);
}
.hisegreso{
    border-left: 5px solid var(--warning);
}
.hiscreate{
    border-left: 5px solid var(--primary);
}
.hisdelete{
    border-left: 5px solid var(--danger);
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }

    header div {
        margin: 0px;
    }

    .cont_table {
        display: flex;
        justify-content: center;
    }

    .cont_filters{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .cont_f{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .cont_option{
        padding:0px 30px;
    }
    .cont_input_search {
        width: 50%;
        margin-bottom: 10px;
    }
    .historial{
        width:50%;
        animation: open_historial 0.3s ease-in-out forwards;
    }
}


@keyframes open_historial {
    0%{
        width: 30%;
    }
    100%{
        width:50%;
    }
}
@keyframes open_historial_mobile {
    0%{
        width: 30%;
    }
    100%{
        width:100%;
    }
}
@keyframes show_historial {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes show_historial2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}