*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: system-ui;
}
:root{
    --color1: #E1CA96;
    --color2: #ACA885;
    --color3: #918B76;
    --color4: #626C66;
    --color5: #434A42;
}
body{
    width:100%;
    height: 100vh;
    background-color: var(--color1);
}