* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

header div h1 span {
    font-weight: 500;
}

header div h1 {
    user-select: none;
}

.cont_button_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button_nav {
    background-color: transparent;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_search{
    background-color: red;
    width:100%;
    display:flex;
}
.input_search{
    padding:6px 10px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    &:focus{
        outline:none;
    }
}
.cont_input_search{
    padding:10px 20px;
}
.cont_button_nuevo{
    padding:10px 0px;
}
.button_search{
    background-color:trasnparent;
    cursor:pointer;
}
.button{
    padding:6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    border-radius: 4px;
}
@media (min-width:768px) {
    header {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
    }
}